body  {
  margin-top: 60px;
  background-color: #fbfbfb;
  font-family: 'Alegreya Sans', Helvetica, Arial, sans-serif !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: 'Alegreya Sans', Helvetica, Arial, sans-serif !important;
}

.header-title {
  color: #777777;
}

.header-title h1, .header-title h1 small {
  font-weight: 300;
}

.reactive-width {
  width: 100%;
  margin: 0 auto;
}

@media only screen and (min-width: 1200px) {
  .reactive-width {
    width: 90%;
  }
}

.sidebar-inputs {
  height: calc(100vh - 60px) !important;
  overflow-y: scroll;
  padding:20px;
}

.nav-image {
  padding: 5px !important;
  padding-bottom: 5px !important;
  padding-right: 10px !important;
  padding-left: 0 !important;
}

.box-title {
  font-weight: 700;
}

.box-title .form-group{
  font-weight: 400;
}

.dropdown-shinyWidgets {
  padding-top: 15px;
}

.checkbox{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  font-size: 14px;
  line-height: 20px;
}

.selectize-dropdown, .dropdown-menu, .datepicker {
  z-index: 10000 !important;
}

#request-filters {
  z-index: 9999;
  width: 350px;
}

html.pushbar_locked .pushbar_overlay{
	z-index: 1000 !important;
}

.leaflet {
  min-height: 400px;
  height: -o-calc(100vh - 400px) !important; /* opera */
  height: -webkit-calc(100vh - 400px) !important; /* google, safari */
  height: -moz-calc(100vh - 400px) !important; /* firefox */
  height: calc(100vh - 400px) !important;
}

